:root {
  --adv-reminder-color: #191813; /* copied from --color-text-dark-primary */
  --adv-reminder-background-color: rgba(0, 0, 0, 0.05);
}

/* AppV2 Dialogs */
.dnd5e2.roll-configuration .dialog-buttons button {
  flex: 2;
}
.dnd5e2.roll-configuration .dialog-buttons button[autofocus] {
  flex: 3;
  border-color: var(--dnd5e-color-gold);
}
/* Custom colors */
.dnd5e2.roll-configuration .dialog-buttons button[autofocus].adv-reminder-custom {
  background-color: var(--adv-reminder-background-color);
  border-color: var(--adv-reminder-color);
  color: var(--adv-reminder-color);
}

.dnd5e2.roll-configuration .dialog-buttons button[autofocus].adv-reminder-custom:hover:not(:disabled),
.dnd5e2.roll-configuration .dialog-buttons button[autofocus].adv-reminder-custom:focus {
  box-shadow: 0 0 5px var(--adv-reminder-color);
}
/* Copy the system's .inline-roll styling for .dialog-roll */
.dnd5e2.roll-configuration a.dialog-roll {
  background: transparent;
  border: none;
  text-decoration: underline currentcolor;
  text-underline-offset: 2px;
}
.dnd5e2.roll-configuration a.dialog-roll > i {
  color: var(--dnd5e-color-text-dark-primary);
  opacity: 0.75;
  transition: opacity 250ms ease;
}
