:root {
  --adv-reminder-color-orange: #ff6400;
  --adv-reminder-color-orange-light: rgba(255, 100, 0, 0.1);
  --adv-reminder-color-green: green;
  --adv-reminder-color-green-5pct: rgba(0, 128, 0, 0.05);
  --adv-reminder-color-green-10pct: rgb(0, 128, 0, 0.1);
  --adv-reminder-color-green-15pct: rgb(0, 128, 0, 0.15);
  --adv-reminder-color-green-msg: #bed0be;
}

/* Style the default buttons */
.dialog .dialog-buttons button.default {
  background-color: var(--adv-reminder-color-green-5pct);
  border-color: var(--adv-reminder-color-green);
  color: var(--adv-reminder-color-green);
  font-weight: bold;
}

/* Style the messages */
.dialog .dialog-content .adv-reminder-messages {
  background-color: var(--adv-reminder-color-green-5pct);
  padding: 5px 5px;
  margin: 8px 0;
  color: var(--adv-reminder-color-green);
  border: 1px solid var(--adv-reminder-color-green);
  border-radius: 3px;
}
.adv-reminder-messages > div:not(:last-child) {
  margin-bottom: 10px;
}
.adv-reminder-messages a.content-link {
  border-color: var(--adv-reminder-color-green);
}
/* Copy the style from "inline-roll" to "dialog-roll" */
.adv-reminder-messages a.dialog-roll {
  background: #ddd;
  padding: 1px 4px;
  border: 1px solid var(--adv-reminder-color-green);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}
.adv-reminder-messages a.dialog-roll i {
  color: var(--color-text-dark-inactive);
}
