<div class="adv-reminder-messages">
    {{#each messages}}
    <div>{{{this}}}</div>
    {{/each}}
    <div>
        <a class="dialog-roll roll" title="1d6+2" data-mode="roll" data-formula="1d6+2">
            <i class="fas fa-dice-d20"></i> 1d6+2</a>
    </div>
</div>
